<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy Product</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('_nav') %>

      <h1>Buy Product</h1>
      <h3><%= product.name %></h3>
      <h4><%= product.priceInRupiah %></h4>

      <form method="post">
        <p>
          <label for="CustomerId">Customer</label> <br />
          <select name="CustomerId" id="CustomerId">
            <option value="">-- Select Customer ---</option>
            <% customers.forEach(({id, name, title}) => { %>
            <option value="<%= id %>"><%= title %> <%= name %></option>
            <% }) %>
          </select>
        </p>
        <p>
          <label for="qty">Qty</label> <br />
          <input type="number" name="qty" />
        </p>

        <p>
          <button type="submit">Buy</button>
        </p>
      </form>
    </div>
  </body>
</html>
