<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('_nav') %>

      <h1>Orders</h1>

      <table border="1">
        <thead>
          <tr>
            <th>No.</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Base Price</th>
            <th>Price</th>
            <th>Total Amount</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% orders.forEach((el, i) => { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= formatDate(el.date) %></td>
            <td><%= el.customer.title %> <%= el.customer.name %></td>
            <td><%= el.product.name %></td>
            <td><%= el.qty %></td>
            <td><%= el.product.priceInRupiah %></td>
            <td><%= toRupiah(el.price) %></td>
            <td><%= toRupiah(el.totalAmount) %></td>
            <td>
              <a href="/orders/delete/<%= el.id %>">Delete</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
